html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87e0fd+0,05abe0+100 */
background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(left,  #87e0fd 0%, #05abe0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #87e0fd 0%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #87e0fd 0%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
}
.infernalBody {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b71e03+0,f92504+30,f4f400+100 */
background: #b71e03; /* Old browsers */
background: -moz-linear-gradient(left,  #b71e03 0%, #f92504 30%, #f4f400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b71e03 0%,#f92504 30%,#f4f400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b71e03 0%,#f92504 30%,#f4f400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71e03', endColorstr='#f4f400',GradientType=1 ); /* IE6-9 */

}
/*header-------------------------------------------------------*/
header {
    text-align: center;
}
h1 {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 1rem;
}
#message {
    min-height: 2rem;
    font-size: large;
}
p {
    font-size: 1.6rem;
}
button {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf299+0,efe183+94 */
background: #fcf299; /* Old browsers */
/*background: -moz-linear-gradient(left,  #fcf299 0%, #efe183 94%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(left,  #fcf299 0%,#efe183 94%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right,  #fcf299 0%,#efe183 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf299', endColorstr='#efe183',GradientType=1 ); /* IE6-9 */

    font-size: large;
    padding: 0.5rem 1rem;
    margin: auto;
    border-radius: 1rem;
    color:rgb(20, 44, 36);
    cursor: pointer;
}
header button:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,c4dd6a+100 */
background: #f8ffe8; /* Old browsers */
background: -moz-linear-gradient(left,  #f8ffe8 0%, #e3f5ab 33%, #c4dd6a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #f8ffe8 0%,#e3f5ab 33%,#c4dd6a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #f8ffe8 0%,#e3f5ab 33%,#c4dd6a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#c4dd6a',GradientType=1 ); /* IE6-9 */

}
/*main---------------------------------------------------------*/
.mainContainer {
    width: 50%;
    height: 40vh;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.cell {
    min-width: 20rem;
    height: 100%;
    max-height: fit-content;
    border: 0.2rem solid black;
    /* margin: auto; */
}
.inputCells {
    width: 100%;
    height: 100%;
    min-height: max-content;
    max-height: width;
    margin: auto;
    font-size: 4rem;
    align-self: auto;
    text-align: center;
}
.inputCells:hover {
    cursor: pointer;
}
.inputCells:disabled {
    cursor: default;
}
#level {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#level p {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.active {
    background: #2FFF72;
}
/* #imposible:hover {
    transform: rotate(180deg);
} */
#level button:hover {
    transform: scale(1.25);
}
#gif {
  /*   visibility: hidden; */
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.non_visible {
    visibility: hidden;
}
/*pop-up de instrucciones-------------------------------*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
#popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
}
#cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
}
.instructions {
    text-align: center;
}
.instructions a {
    text-decoration: none;
    /*font-size: 0.8rem;*/
    color: #002008;
}

/* darle al clicado del botón otro color, y si se cambia el nivel volver a cambiarlo